<a href="https://colab.research.google.com/github/vafiyanaznin/-SQLlite-with-Python/blob/main/SalesDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute("SELECT * FROM Supermarket_sales ORDER BY Unitprice LIMIT 1;")

print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('10', '692-92-5582', 'B', 'Mandalay', 'Member', 'Female', 'Food and beverages', '3', '144', '7445', '13:27', 'Credit card', '164.52', '4.761904762', '8.226', '5.9', '0')]

In [7]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()

cursor.execute("SELECT * FROM Supermarket_sales ORDER BY Unitprice LIMIT 1;")



print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('10', '692-92-5582', 'B', 'Mandalay', 'Member', 'Female', 'Food and beverages', '3', '144', '7445', '13:27', 'Credit card', '164.52', '4.761904762', '8.226', '5.9', '0')]

In [9]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()

cursor.execute("SELECT * FROM Supermarket_sales ORDER BY Quantity DESC LIMIT 1;")



print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('30', '848-62-7243', 'A', 'Yangon', 'Normal', 'Male', 'Health and beauty', '9', '703', '8890', '15:36', 'Cash', '224.01', '4.761904762', '11.2005', '7.4', '1')]

In [10]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()

cursor.execute("SELECT * FROM Supermarket_sales WHERE Productline = 'Health and Beauty' ORDER BY Quantity LIMIT 1;")



print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[]

In [11]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()

cursor.execute("SELECT * FROM Supermarket_sales WHERE Productline = 'Health and Beauty' ORDER BY Quantity DESC LIMIT 1;")


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[]

In [12]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()

cursor.execute("SELECT count(gender) FROM Supermarket_sales WHERE Productline = 'Health and beauty' AND gender = 'Male';")


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[(88,)]

In [13]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()

cursor.execute("SELECT count(gender) FROM Supermarket_sales WHERE Productline = 'Fashion accessories' AND gender = 'Female';")


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[(96,)]